version: '3.7'
services:
  app:
    build:
      context: .
    stdin_open: true
    tty: true
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
    depends_on:
      - db
    environment:
      EDITOR: vim
  db:
    image: postgres:11.5
    ports:
      - '5432:5432'
    volumes:
      - postgresql_data:/var/lib/postgresql/data
volumes:
  bundle_data:
    driver: local
  postgresql_data:
    driver: local
